.search-overview-container {

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
    padding: 0 40px 80px 40px;
    font-family: "aktiv-grotesk",sans-serif;
}

    @media screen and (min-width: 900px) {.search-overview-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
}
    }
.search-overview-header {
    padding: 150px 40px 50px 40px;
}
.search-overview-header h1 {
        margin: 0;
        font-family: 'kepler-std-semicondensed', 'Kepler Std Bold', 'Kepler Std', serif;
        font-weight: 700;
        font-size: 42px;
    }
@media screen and (min-width: 900px) {
.search-overview-header h1 {
            font-size: 60px
    }
        }
.search-overview-company-details {

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
@media screen and (min-width: 900px) {
.search-overview-company-details {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
}
    }
.search-overview-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: .5rem;
    margin: 1.0rem -.5rem 0;
}
.search-overview-social div {
        margin: 0 .5rem;
    }
.hr {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.search-overview-position {
    font-size: 30px;
}
.search-overview-logo {
    margin-bottom: 30px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;



}
@media screen and (min-width: 900px) {
.search-overview-logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex



}
    }
.search-overview-logo img {
        max-width: 250px;
        height: auto;
        margin-bottom: 40px;
    }
@media screen and (min-width: 900px) {
.search-overview-logo img {
            margin-bottom: 0
    }
        }
.search-overview-sidebar {
    margin-bottom: 50px;
}
@media screen and (min-width: 900px) {
.search-overview-sidebar {
        width: 30%
}
    }
.search-overview-sidebar h2 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        margin: 0 0 5px;
    }
.search-overview-sidebar ul {
        margin: 0 0 30px 0;
        padding: 0;
        list-style: none;

    }
.search-overview-sidebar p {
        margin: 0 0 20px;
    }
.search-overview-sidebar a {
        text-decoration: underline;
        color: #ff1516;
    }
.search-overview-sidebar a:hover {
            color: #222;
        }
.search-overview-sidebar .search-overview-section-list a {
        color: #222;
        text-decoration: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }
.search-overview-sidebar .search-overview-section-list a span {
            display: inline-block;
        }
.search-overview-sidebar .search-overview-section-list a:after {
            display: inline-block;
            font-family: 'FontAwesome';
            content: '\f0da';
            margin-left: 5px;
            color: #ff1516;
        }
.search-overview-sidebar .search-overview-section-list a:hover {
            color: #ff1516;
        }
.search-overview-section-list {
    line-height: 30px;
    display: none;
}
@media screen and (min-width: 900px) {
.search-overview-section-list {
        display: block
}
    }
.search-overview-section-list a {
        text-decoration: underline;

    }
.search-overview-team-members-sidebar {
    display: none;
    border-top: 1px solid #ddd;
    margin-top: 30px;
    padding-top: 30px;
}
@media screen and (min-width: 900px) {
.search-overview-team-members-sidebar {
        display: block
}
    }
.search-overview-team-members {
    line-height: 26px;
}
.search-overview-team-members h3 {
        margin: 0;
        padding: 0;
        font-size: 16px;
    }
.search-overview-team-members li {
        margin-bottom: 20px;
    }
.search-overview-team-members p {
         margin: 0;
         padding: 0;
    }
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    margin-bottom: 50px;
}
.video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
@media print {
.video-container {
        display: none
}
    }
@media screen and (min-width: 900px) {
.search-overview-content {
        width: 66%
}
    }
.search-overview-content h2 {
        margin: 0;
        font-family: 'kepler-std-semicondensed', 'Kepler Std Bold', 'Kepler Std', serif;
        font-size: 42px;
        line-height: 48px;
        margin-bottom: 20px;
    }
.search-overview-content p {
        font-size: 16px;
        line-height: 26px;
    }
.search-overview-content .alignleft, .search-overview-content .alignright, .search-overview-content .aligncenter {

        margin: 0;
        display: block;
        margin-bottom: 20px;
        float: none;

    }
@media screen and (min-width: 900px) {


        .search-overview-content .alignleft {
            margin-right: 20px;
            display: inline;
            float: left;
        }

        .search-overview-content .alignright {
            float: right;
            margin-left: 20px;
            display: inline;
        }

    }
.search-overview-content ul, .search-overview-content ol {
        margin: 0 0 20px 20px;
        padding: 0;
    }
.search-overview-content ul li, .search-overview-content ol li {
            margin-bottom: 10px;
        }
@media (min-width: 900px) {
.search-overview-content .search-overview-team-members-content {
            display: none
    }
        }
.search-overview-content .search-overview-team-members-content h2 {
            text-transform: uppercase;

            font-weight: bold;
            font-size: 18px;
            margin: 0 0 5px;
            font-family: "aktiv-grotesk",sans-serif;
        }
.search-overview-content .search-overview-team-members-content ul {
            list-style: none;
            margin: 0 0 20px;
            padding: 0;
        }
.protected-post-form-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.print-page-link, .print-page-link-lower {
    display: none;
}
.print-page-link a, .print-page-link-lower a {
        color: #222;
        text-decoration: none;
    }
.print-page-link a:hover, .print-page-link-lower a:hover {
            color: #ff1516;
        }
@media screen and (min-width: 900px) {
.print-page-link, .print-page-link-lower {
        display: block
}
    }
.print-page-link-lower {
    display: block;
}
@media print {
    .main-nav__trigger {
        display: none;
    }

    .site-footer {
        display: none;
    }

    @page {
        padding: .35in;
    }

    .search-overview-header {
        padding-top: 80px;
    }

    .search-overview-sidebar {
        page-break-after: always;
    }

    .search-overview-section-list  {
        display: none;
    }

    .search-overview-container {
        display: block;
        width: 100%;
    }

    .print-page-link {
        display: none;
    }

}
.btn-primary {
    background: #ff1516;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 18px;
}
.btn-primary:hover {
        background: #000;
        color: #fff;
    }
.placement-filter-toolbar {
    width: 100%;
    max-width: 1220px;
    padding: 100px 20px 20px;
}
@media (min-width: 800px) {
.placement-filter-toolbar {
        display: inline-block
}
    }
.placement-filter-toolbar ul {


        -ms-flex-wrap: wrap;


            flex-wrap: wrap;
    }
@media (min-width: 960px) {
.placement-filter-toolbar ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex
    }
        }
.placement-filter-toolbar li {
    }
.searchandfilter ul {
            margin: 0;
            padding: 0;
            margin: 0 -5px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
        }
.searchandfilter ul li {
                margin: 0;
                padding: 0;
                margin: 5px;
                margin-bottom: 10px;
                width: 100%;
            }
@media (min-width: 960px) {
.searchandfilter ul li {
                    width: auto
            }
                }
.searchandfilter label {
            display: block;
            width: 100%;
        }
@media (min-width: 960px) {
.searchandfilter label {
                display: inline-block
        }
            }
.searchandfilter select {
            color: #555;
            padding: 10px;
            background: #fff;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 10px;
            position: relative;
            padding-right: 40px;
            background: #fff url('../../svg/down_arrow.svg') right 10px center no-repeat;
            width: 100%;
        }
@media (min-width: 960px) {
.searchandfilter select {
                width: auto
        }
            }
.searchandfilter select::-ms-expand {
            display: none;
        }
.searchandfilter label {
            padding: 10px;
        }
.placement-previews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 100px;
}
.placement-preview {

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    padding: 10px;
    width: 100%;
}
@media (min-width: 800px) {
.placement-preview {
        width: calc(100%/3)
}
    }
@media (min-width: 1000px) {
.placement-preview {
        width: calc(100%/4)
}
    }
@media (min-width: 1400px) {
.placement-preview {
        width: calc(100%/5)
}
    }
.placement-preview__container {
    width: 100%;
    height: 100%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;


}
.placement-preview__content {
    padding: 0 20px 30px 20px;
    text-align: center;
    background: #fff;
}
.placement-preview__content ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 14px;
    }
.placement-preview__content ul li {
            margin: 0;
            padding: 0;
        }
.placement-preview__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 150px;
    background: #fff;
}
.placement-preview__image img {
        max-width: 50%;
        max-height: 80%;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    }
.placement-no-results {
    background: rgba(255,255,255,.4);
    padding:20px;
    width: 100%;
}
.placement-no-results h2 {
        font-weight: normal;
        color: #000;
    }
.pagination {
    text-align: center;
}
.pagination ul li {
            display: inline-block;
        }
.pagination a {
        text-decoration: none;

    }
.pagination .next, .pagination .prev {
    font-family: 'ssstandard';
    font-size: 1rem;
}
.page-numbers {
    display: inline-block;
    font-weight: bold;
}
.page-numbers.current {
        background: #ff1516;
        color: #000;
    }
span.page-numbers, a.page-numbers {
    background: #fafafa;
    width: 2.4rem;
    line-height: 2.4rem;
    font-size: 1.4rem;
}
.sf-field-reset {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    padding: 10px !important;
}
.search-overview-explore-button {
    display: none;
}
@media (min-width: 900px) {
.search-overview-explore-button {
        display: inline-block
}
    }
