$headingFont: 'kepler-std-semicondensed', 'Kepler Std Bold', 'Kepler Std', serif;
$mainColor: #ff1516;

.search-overview-container {

    justify-content: space-between;
    padding: 0 40px 80px 40px;
    font-family: "aktiv-grotesk",sans-serif;

    @media screen and (min-width: 900px) {
        display: flex;
    }
}

.search-overview-header {
    padding: 150px 40px 50px 40px;

    h1 {
        margin: 0;
        font-family: $headingFont;
        font-weight: 700;
        font-size: 42px;
        @media screen and (min-width: 900px) {
            font-size: 60px;
        }
    }
}

.search-overview-company-details {

    justify-content: space-between;
    align-items: flex-end;

    @media screen and (min-width: 900px) {
        display: flex;
    }
}

.search-overview-social {
    display: flex;
    padding-bottom: .5rem;
    margin: 1.0rem -.5rem 0;

    div {
        margin: 0 .5rem;
    }
}

.hr {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.search-overview-position {
    font-size: 30px;
}

.search-overview-logo {
    margin-bottom: 30px;

    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 900px) {
        display: flex;
    }

    img {
        max-width: 250px;
        height: auto;
        margin-bottom: 40px;

        @media screen and (min-width: 900px) {
            margin-bottom: 0;
        }
    }



}

.search-overview-sidebar {
    margin-bottom: 50px;

    @media screen and (min-width: 900px) {
        width: 30%;
    }


    h2 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        margin: 0 0 5px;
    }

    ul {
        margin: 0 0 30px 0;
        padding: 0;
        list-style: none;

    }

    p {
        margin: 0 0 20px;
    }

    a {
        text-decoration: underline;
        color: $mainColor;

        &:hover {
            color: #222;
        }
    }

    .search-overview-section-list a {
        color: #222;
        text-decoration: none;
        display: flex;
        align-items: flex-end;

        span {
            display: inline-block;
        }

        &:after {
            display: inline-block;
            font-family: 'FontAwesome';
            content: '\f0da';
            margin-left: 5px;
            color: $mainColor;
        }

        &:hover {
            color: $mainColor;
        }
    }
}

.search-overview-section-list {
    line-height: 30px;
    display: none;

    @media screen and (min-width: 900px) {
        display: block;
    }

    a {
        text-decoration: underline;

    }
}

.search-overview-team-members-sidebar {
    display: none;
    border-top: 1px solid #ddd;
    margin-top: 30px;
    padding-top: 30px;

    @media screen and (min-width: 900px) {
        display: block;
    }
}

.search-overview-team-members {
    line-height: 26px;
    h3 {
        margin: 0;
        padding: 0;
        font-size: 16px;
    }

    li {
        margin-bottom: 20px;
    }

    p {
         margin: 0;
         padding: 0;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    margin-bottom: 50px;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @media print {
        display: none;
    }
}

.search-overview-content {

    @media screen and (min-width: 900px) {
        width: 66%;
    }

    h2 {
        margin: 0;
        font-family: $headingFont;
        font-size: 42px;
        line-height: 48px;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        line-height: 26px;
    }

    .alignleft, .alignright, .aligncenter {

        margin: 0;
        display: block;
        margin-bottom: 20px;
        float: none;

    }

    @media screen and (min-width: 900px) {


        .alignleft {
            margin-right: 20px;
            display: inline;
            float: left;
        }

        .alignright {
            float: right;
            margin-left: 20px;
            display: inline;
        }

    }

    ul, ol {
        margin: 0 0 20px 20px;
        padding: 0;

        li {
            margin-bottom: 10px;
        }
    }

    .search-overview-team-members-content {

        @media (min-width: 900px) {
            display: none;
        }

        h2 {
            text-transform: uppercase;

            font-weight: bold;
            font-size: 18px;
            margin: 0 0 5px;
            font-family: "aktiv-grotesk",sans-serif;
        }
        ul {
            list-style: none;
            margin: 0 0 20px;
            padding: 0;
        }
    }
}

.protected-post-form-content {
    display: flex;
}

.print-page-link, .print-page-link-lower {
    display: none;

    a {
        color: #222;
        text-decoration: none;

        &:hover {
            color: $mainColor;
        }
    }

    @media screen and (min-width: 900px) {
        display: block;
    }
}

.print-page-link-lower {
    display: block;
}

@media print {
    .main-nav__trigger {
        display: none;
    }

    .site-footer {
        display: none;
    }

    @page {
        padding: .35in;
    }

    .search-overview-header {
        padding-top: 80px;
    }

    .search-overview-sidebar {
        page-break-after: always;
    }

    .search-overview-section-list  {
        display: none;
    }

    .search-overview-container {
        display: block;
        width: 100%;
    }

    .print-page-link {
        display: none;
    }

}

.btn-primary {
    background: $mainColor;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 18px;

    &:hover {
        background: #000;
        color: #fff;
    }
}



.placement-filter-toolbar {
    width: 100%;
    max-width: 1220px;
    padding: 100px 20px 20px;

    @media (min-width: 800px) {
        display: inline-block;
    }
    ul {


        flex-wrap: wrap;

        @media (min-width: 960px) {
            display: flex;
        }
    }

    li {
    }
}

.searchandfilter  {

        ul {
            margin: 0;
            padding: 0;
            margin: 0 -5px;
            display: flex;
            justify-content: center;

            li {
                margin: 0;
                padding: 0;
                margin: 5px;
                margin-bottom: 10px;
                width: 100%;

                @media (min-width: 960px) {
                    width: auto;
                }
            }
        }

        label {
            display: block;
            width: 100%;

            @media (min-width: 960px) {
                display: inline-block;
            }
        }

        select {
            color: #555;
            padding: 10px;
            background: #fff;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 10px;
            position: relative;
            padding-right: 40px;
            background: #fff url('../../svg/down_arrow.svg') right 10px center no-repeat;
            width: 100%;

            @media (min-width: 960px) {
                width: auto;
            }
        }

        select::-ms-expand {
            display: none;
        }

        label {
            padding: 10px;
        }



}

.placement-previews {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 100px;
}

.placement-preview {

    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
    width: 100%;

    @media (min-width: 800px) {
        width: calc(100%/3);
    }

    @media (min-width: 1000px) {
        width: calc(100%/4);
    }

    @media (min-width: 1400px) {
        width: calc(100%/5);
    }
}

.placement-preview__container {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;


}

.placement-preview__content {
    padding: 0 20px 30px 20px;
    text-align: center;
    background: #fff;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 14px;


        li {
            margin: 0;
            padding: 0;
        }
    }
}

.placement-preview__image {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    background: #fff;


    img {
        max-width: 50%;
        max-height: 80%;
        flex-shrink: 0;
    }
}

.placement-no-results {
    background: rgba(255,255,255,.4);
    padding:20px;
    width: 100%;

    h2 {
        font-weight: normal;
        color: #000;
    }
}

.pagination {
    text-align: center;


    ul {
        li {
            display: inline-block;
        }
    }

    a {
        text-decoration: none;

    }
}

.pagination .next, .pagination .prev {
    font-family: 'ssstandard';
    font-size: 1rem;
}

.page-numbers {
    display: inline-block;
    font-weight: bold;


    &.current {
        background: $mainColor;
        color: #000;
    }
}

span.page-numbers, a.page-numbers {
    background: #fafafa;
    width: 2.4rem;
    line-height: 2.4rem;
    font-size: 1.4rem;
}

.sf-field-reset {
    display: flex !important;
    align-items: center;
    font-size: 12px;
    padding: 10px !important;
}

.search-overview-explore-button {
    display: none;

    @media (min-width: 900px) {
        display: inline-block;
    }
}
